pytorch-lightning==2.1.2
einops
omegaconf
torchmetrics
webdataset
accelerate
tensorboard
PyMCubes
trimesh
rembg
transformers
diffusers==0.20.2
torchvision
bitsandbytes
imageio[ffmpeg]
xatlas
plyfile
git+https://github.com/NVlabs/nvdiffrast
jax==0.4.19
jaxlib==0.4.19
ninja
