{% extends "base.html" %}

{% block title %}Upload Objects - 3DArchitect{% endblock %}


{% block content %}
<h1 class="mt-5 text-center">Upload Objects</h1>

<div class="d-flex justify-content-center mt-4">
    <!-- <form action="/editor_uploader" method="post" enctype="multipart/form-data" class="form-container"> -->
    <form action="/editor" method="post" enctype="multipart/form-data" class="form-container">
        <div class="form-group">
            <label for="floorplan">Upload Floorplan Object (GLB or GLTF)</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="floorplan" name="floorplan" 
                        accept=".glb,.gltf" onchange="updateFileName('floorplan')">
                    <label class="custom-file-label" for="floorplan">Choose file</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="object">Upload Other Object (GLB or GLTF)</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="object" name="object" 
                        accept=".glb,.gltf" onchange="updateFileName('object')">
                    <label class="custom-file-label" for="object">Choose file</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Upload Files</button>
    </form>
</div>

<script>
    function updateFileName(inputId) {
        var input = document.getElementById(inputId);
        var label = input.nextElementSibling;
        var fileName = input.files[0].name;
        label.textContent = fileName;
    }
    window.onload = function() {
        updateFileName('floorplan');
        updateFileName('object');
    };
</script>

{% endblock %}
